<?xml version="1.0" encoding="UTF-8"?>
<style-scheme id="base16-theme" _name="{{scheme-name}}" version="1.0">
  <author>{{scheme-author}}</author>
  <_description>Base16 generated color theme for {{scheme-name}} by {{scheme-author}}</_description>

  <!-- Color Palette -->
  <color name="base00"  value="#{{base00-hex}}"/>
  <color name="base01"  value="#{{base01-hex}}"/>
  <color name="base02"  value="#{{base02-hex}}"/>
  <color name="base03"  value="#{{base03-hex}}"/>
  <color name="base04"  value="#{{base04-hex}}"/>
  <color name="base05"  value="#{{base05-hex}}"/>
  <color name="base06"  value="#{{base06-hex}}"/>
  <color name="base07"  value="#{{base07-hex}}"/>
  <color name="base08"  value="#{{base08-hex}}"/>
  <color name="base09"  value="#{{base09-hex}}"/>
  <color name="base0A"  value="#{{base0A-hex}}"/>
  <color name="base0B"  value="#{{base0B-hex}}"/>
  <color name="base0C"  value="#{{base0C-hex}}"/>
  <color name="base0D"  value="#{{base0D-hex}}"/>
  <color name="base0E"  value="#{{base0E-hex}}"/>
  <color name="base0F"  value="#{{base0F-hex}}"/>

  <color name="base03-02-blend" value="#032F3B"/>

  <!-- Global Settings -->
  <style name="text"                        foreground="base05" background="base00"/>
  <style name="selection"                   foreground="base00" background="base05"/>
  <style name="cursor"                      foreground="base05"/>
  <style name="secondary-cursor"            foreground="base03"/>
  <style name="current-line"                background="base01"/>
  <style name="line-numbers"                foreground="base03" background="base00"/>
  <style name="background-pattern"          background="base03-02-blend"/>

  <!-- Bracket Matching -->
  <style name="bracket-match"               foreground="base05" background="base02"/>
  <style name="bracket-mismatch"            foreground="base08" background="base02"/>

  <!-- Right Margin -->
  <style name="right-margin"                foreground="base06" background="base05"/>

  <!-- Search Matching -->
  <style name="search-match"                foreground="base00" background="base0A"/>

  <!-- Comments -->
  <style name="def:comment"                 foreground="base03"/>
  <style name="def:shebang"                 foreground="base03" bold="true"/>
  <style name="def:doc-comment-element"     italic="true"/>

  <!-- Constants -->
  <style name="def:constant"                foreground="base09"/>
  <style name="def:string"                  foreground="base0B"/>
  <style name="def:special-char"            foreground="base0E"/>

  <!-- Identifiers -->
  <style name="def:identifier"              foreground="base0D"/>

  <!-- Statements -->
  <style name="def:statement"               foreground="base0E"/>

  <!-- Types -->
  <style name="def:type"                    foreground="base0A"/>

  <!-- Operators -->
  <style name="def:operator"                foreground="base05"/>

  <!-- Others -->
  <style name="def:preprocessor"            foreground="base09"/>
  <style name="def:error"                   foreground="base08" bold="true"/>
  <style name="def:note"                    foreground="base03" bold="true"/>
  <style name="def:underlined"              italic="true" underline="single"/>

  <!-- Heading styles, uncomment to enable -->
  <!--
  <style name="def:heading0"                scale="5.0"/>
  <style name="def:heading1"                scale="2.5"/>
  <style name="def:heading2"                scale="2.0"/>
  <style name="def:heading3"                scale="1.7"/>
  <style name="def:heading4"                scale="1.5"/>
  <style name="def:heading5"                scale="1.3"/>
  <style name="def:heading6"                scale="1.2"/>
  -->
</style-scheme>
