










































Xcursor.theme: whiteglass


xlogin*login.translations: #override \
	Ctrl<Key>R: abort-display()\n\
	<Key>F1: set-session-argument(failsafe) finish-field()\n\
	<Key>Delete: delete-character()\n\
	<Key>Left: move-backward-character()\n\
	<Key>Right: move-forward-character()\n\
	<Key>Home: move-to-begining()\n\
	<Key>End: move-to-end()\n\
	Ctrl<Key>KP_Enter: set-session-argument(failsafe) finish-field()\n\
	<Key>KP_Enter: set-session-argument() finish-field()\n\
	Ctrl<Key>Return: set-session-argument(failsafe) finish-field()\n\
	<Key>Return: set-session-argument() finish-field()

xlogin*greeting: Login
xlogin*namePrompt: \040\040\040\040\040\040\040User:
xlogin*fail: Login failed
xlogin.Login.echoPasswd: true

xlogin*greetFace:	Sans-20
xlogin*face:		Sans-14
xlogin*promptFace:	Sans-14
xlogin*failFace:	Sans-14:bold

*Foreground: #{{base05-hex}}
*Background: #{{base00-hex}}
xlogin*borderWidth: 0
xlogin*frameWidth: 0
xlogin*innerFramesWidth: 1

xlogin*useShape: true

XConsole.text.geometry:	480x130
XConsole.verbose:	true
XConsole*iconic:	true
XConsole*font:		fixed

Chooser*geometry:		700x500+300+200
Chooser*allowShellResize:	false
Chooser*viewport.forceBars:	true
Chooser*label.font:		*-new century schoolbook-bold-i-normal-*-240-*
Chooser*label.label:		XDMCP Host Menu from CLIENTHOST
Chooser*list.font:		-*-*-medium-r-normal-*-*-230-*-*-c-*-iso8859-1
Chooser*Command.font:		*-new century schoolbook-bold-r-normal-*-180-*
